* {
	font-family: 'Raleway', sans-serif;
}

#container{
	margin: 0 auto;
}

#btns {
	border: 1px solid #053942;
}

#click {
	color: #083B37;
}

#main_nav {
	background-color: #053942;
	color: white;
}

#me_about{
	/*background-image: url("../images/line.jpg");
	background-repeat: no-repeat, repeat;
	background-size: cover;*/
	padding: 10%;
	text-align:justify;
}

#about{
	padding: 20px;
}


#land_content {
	position: absolute;
	top: 70%;
	left: 13%;
}

#gall_pad{
	background-color: #044152;
	margin-top: 50px;
	margin-bottom: 20px;
	padding-top: 50px;
	color: white;
}

#about_do {
	
	text-align: center;
}


#home_cover {
	
	color: black;
	text-align: center;
}

#home_page {
	color: black;
	float: right;
	padding: 200px;
}

#about_me {
	padding-top: 100px;
	text-align: left;
}

#image {
	padding-left: 100px;
	padding-top: 50px;
}

#proj_do {
	color: white;
	text-align: center;
}

#soft_pad{
	padding:20px;
}


.contact-form{
    background: #fff;
    margin-top: 0%;
    margin-bottom: 0%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: white;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #053942;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #053942;
    border: none;
    cursor: pointer;
}

#contact_page {
	background-color: #819C91;
	width: 100%;	
}

#footer_page {
	background-color: #053942;
	color: white;
}

.gototop {
	position: fixed;
	bottom: 50px;
	right: 50px;
}